@font-face {
  font-family: "Rubik";
  src: url(fonts/Rubik-VariableFont_wght.ttf);
}
@import "node_modules/nord/src/nord.css";
body {
  font-family: "Rubik";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(76, 86, 106);
  background-color: rgb(242, 244, 248);
  transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
  scroll-behavior: smooth;
}
code {
  background-color: #ECEFF4;
  color: #4C566A;
  font-weight: lighter;
}
.main {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  width: 70%;
  margin: 10px auto;
  padding: 20px 1em;
  border-radius: 8px;
  box-shadow: rgb(184 194 215 / 25%) 0px 4px 6px, rgb(184 194 215 / 10%) 0px 5px 7px;
  transition: box-shadow 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #D8DEE9;
  overflow: hidden;
  border-radius: 10px;
  margin: 1.5% 20% 2.5%
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(76, 86, 106);
  text-align: center;
  padding: 10px 12px;
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #A3BE8C;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #A3BE8C;
  color: #2E3440;
}
.tracker {
  color:rgb(189, 93, 198);
  font-size: 16px
}
.bughunter {
  font-size: 12px
}
.active {
  background-color: #A3BE8C;
}